   /* Estilos para el banner-curso */
   .banner-cursos {
    text-align: center;
    background-image: url('C:\Users\fred_\OneDrive\Documentos\GitHub\FREDKOKO96.github.io\img\garzafly.png'); /* Reemplaza 'tu-imagen.jpg' con la URL de tu imagen */
    background-size: cover;
    color: #fff; /* Color del texto */
    padding: 100px 0; /* Espaciado interior superior e inferior */
    height: 150px;
}

/* Estilos para el texto en el banner */
.banner-text {
    font-size: 30px; /* Tamaño del texto */
    font-weight: bold; /* Negritas */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
}